# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU-ANON-KEY
SUPABASE_SERVICE_ROLE_KEY=TU-SERVICE-ROLE-KEY

# API Football
API_FOOTBALL_KEY=1b47a3e3aca7950a2acb160ea7f21482

# Admin
ADMIN_SECRET=TU-PASSWORD-ADMIN

# Cron (Vercel Cron)
CRON_SECRET=TU-CRON-SECRET
